.sidebar{
    background: #fff;
    width: 15%;
    height: 100vh;
    position: fixed;
    overflow-y: hidden;
    top : 0;
    padding-left: 2%;
    padding-top: 80px;
}
.sidebar:hover{
    overflow-y: scroll;
}
.shortcut-links img{
    width: 20px;
    margin-right: 20px;
}

.side-link{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: fit-content;
    flex-wrap: wrap;
    cursor: pointer;
}
.sidebar hr{
    border: 0;
    height: 1px;
    background: #ccc;
    width: 85%;
}

.subscribed-list h3{
    font-size: 13px;
    margin: 20px 0;
    color: #5a5a5a;
}
.subscribed-list img{
    width: 25px;
    border-radius: 50%;
    margin-right: 20px;
}

.small-sidebar{
    width:7%;
}
.small-sidebar p{
    display: none;
}
.small-sidebar h3{
    display: none;
}
.small-sidebar hr{
    width: 50%;
   margin:1rem 0px
}

.side-link.active img{
    padding-bottom: 2px;
    border-bottom: 3px solid red;
}

@media (max-width:900px) {
    @media (max-width:900px) {
        .sidebar{
            width: 100%;
            position: fixed;
            top: 95vh;
            padding-top: 0;
            height: 50px;
            padding-left: 4vw;
            padding-bottom: 5px;
        }
        .shortcut-links{
            height: vh;
            display: flex;
            gap: 20px;
            overflow-x: auto;
        }
        .shortcut-links p{
            display: none;
        }
        .subscribed-list{
            display: none;
        }
        .side-link img{
            width: 35px;
        }
    }
}